<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @function.descripcion %>
</p>

<%= link_to 'Edit', edit_function_path(@function) %> |
<%= link_to 'Back', functions_path %>
